.App {
  min-height: 95vh;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 1px 10px 25px;
  max-height: 95px;
  box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.25);
  z-index: 100;
  background-color: #bee6ce;
  color: #074c30;
  margin-bottom: 5px;
}

.img-con,
.new-course {
  width: 40%;
  padding: 5px;
}

.new-course {
  text-align: right;
  padding-right: 25px;
  font-family: "Comic Neue", cursive;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.new-course > .span-course {
  margin-top: 20px;
}

img {
  width: 100px;
  height: 80px;
  object-fit: center;
  background: linear-gradient(to right, red);
}
.random {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.random > h2 {
  font-family: "Comic Neue", cursive;
  font-size: 2rem;
  letter-spacing: 1px;
}

.add-subject {
  /* border: 2px solid purple; */
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  width: 50%;
  margin: 0 auto;
  z-index: 10;
  position: absolute;
  right: 0;
  left: 20px;
  /* top: 240px; */
}
.not-show {
  transform: scale(1);
  transform-origin: center;
  transition: all 0.3s;
}
.show {
  transform: scale(0);
  transform-origin: center;
  transition: all 0.3s;
}
form {
  display: block !important;
  width: 240px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.25);
}

.w-30 {
  width: 100%;
  position: relative;
  margin-bottom: 7px;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  text-align: left;
  transform: translateY(14px);
  color: rgba(190, 230, 206, 0.6);
  transition: all ease-out 0.1s;
}

.shrink {
  transform: translateY(0px);
  font-size: 12px;
  color: #074c30;
  transition: all ease-in 0.1s;
}

input {
  border: 1px solid grey;
  background: #fff;
  padding: 10px 5px;
  height: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border 0.6s;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  -webkit-appearance: none;
}

.busy {
  border-bottom: 1px solid #074c30;
}
button {
  /* background: rgba(255, 62, 62, 0.7); */
  background: rgb(7, 76, 48);
  color: #fff;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  outline: none;
  height: 35px;
  letter-spacing: 1px;
  border: 1px solid rgb(7, 76, 48);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.box {
  padding: 15px 195px;
}
.box > .gp-box {
  padding: 10px;
  text-align: center;
}
.box > .gp-box > b {
  display: block;
  font-size: 0.8rem;
}
.box > .gp-box > span {
  color: #074c30;
  font-size: 5rem;
  font-family: "Comic Neue", cursive;
}

.courses-box {
  width: 100%;
  display: inline-block !important;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  margin-top: 5px;
  box-sizing: border-box;
  text-align: center;
  min-height: calc(60vh - 140px);
  padding: 20px 5px 50px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
}

.courses-box > .title-box {
  width: 95%;
  padding: 10px 15px;
  overflow-x: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: left;
  background: #bee6ce;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}

.courses-box > .title-box > .w-20 {
  width: 25%;
  font-weight: 700;
  margin: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #074c30;
  padding: 5px;
}

.courses-box > .item-box {
  height: 100%;
  padding: 15px 0 0 5px;
  overflow-y: scroll;
  scrollbar-color: #bee6ce rgba(190, 230, 206, 0.6);
  scrollbar-width: thin;
}

.courses-box > .item-box::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(190, 230, 206, 0.6);
  border-radius: 6px;
}
.courses-box > .item-box::-webkit-scrollbar-thumb {
  background-color: #bee6ce;
  border-radius: 6px;
}
.courses-box > .item-box::-moz-scrollbar {
  width: 5px;
  background-color: rgba(190, 230, 206, 0.6);
  border-radius: 6px;
}
.courses-box > .item-box::-moz-scrollbar-thumb {
  background-color: #bee6ce;
  border-radius: 6px;
}
.course {
  width: 100%;
  margin-bottom: 5px;
  padding: 3px 10px 3px 5px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 44px;
  font-weight: 300;
  transition: all 0.3s;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(190, 230, 206, 0.6);
  box-shadow: none;
  cursor: pointer;
  color: #1a1a1a;
  display: inline-flex;
  /* background: #ffe071; */
}

.course:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
}
.value {
  width: 25%;
}
b {
  display: none;
}
.box > h2 {
  text-align: center;
}
@media only screen and (max-width: 769px) {
  .new-course {
    text-align: right;
    padding-right: 25px;
    font-family: "Comic Neue", cursive;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .box {
    padding: 10px;
  }
  .add-subject {
    width: 60%;

    /* left: 5px; */
  }
  .courses-box > .title-box {
    display: none;
  }
  .course {
    display: block;
    text-align: left;
  }
  .value {
    width: 100%;
    padding: 5px;
  }
  b {
    display: inline;
    margin-right: 4px;
  }
}
